.DrawerToggle {
  padding: 10px;
  z-index: 150;
  transition: transform 0.5s 0s ease-out;
}

.DrawerToggle div {
  width: 30px;
  height: 3px;
  background-color: #eee;
  margin: 5px 0;
  border-radius: 5px;
}

.Active {
  transform: rotate(360deg);
}

.Active div {
  background-color: #f08000;
}

@media (min-width: 500px) {
  .DrawerToggle {
    display: none;
  }
}
