.Search {
  width: 350px;
  margin: 0 auto;
  display: flex;
}

.Search input {
  text-align: center;
  width: 100%;
  z-index: 10;
}

.Submit {
  width: 50px;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  background-color: #ccc;
  border-radius: 0 4px 4px 0;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
}

.Submit:hover,
.Submit:active {
  background-color: #f08000;
}

.Submit img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.Search input {
  border-radius: 4px 0 0 4px;
}

@media (max-width: 500px) {
  .Search {
    width: 90%;
    margin: 0 auto;
  }
}
