.LanguageSwitcher {
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.LangIcon {
    height: 25px;
    opacity: 0.7;
    display: block;
    cursor: pointer;
}

.LangIcon:hover,
.LangIcon:active {
    opacity: 1;
}

@media (max-width: 500px) {
    .LanguageSwitcher {
        position: relative;
        margin: 0 auto;
        text-align: center;
    }

    .LangIcon {
        opacity: 1;
    }
}