.BrowserNavigation {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.BrowserNavigation h1 {
  font-size: 4em;
  margin: 10px;
}

.Title:hover {
  text-decoration: none;  
}

.BrowserNavigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.BrowserNavigation li {
  display: inline-block;
  margin: 10px 20px;
}

.BrowserNavigation li a {
  color: #fff;
  text-decoration: none;
}

.BrowserNavigation li a:hover {
  color: #fff;
  text-decoration: underline;
}

.BrowserNavigation li a.Active {
  color: #f08000;
  text-decoration: underline;
}

@media (max-width: 500px) {
  .BrowserNavigation h1 {
    font-size: 2em;
  }

  .BrowserNavigation li {
    display: block;
  }

  .BrowserNavigation li:nth-child(2) {
      display: none;
  }
}
