.MovieResult {
    width: 220px;
    height: 425px;
    border: 1px solid #434343;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #323232;
}


@media(max-width: 500px) {
    .MovieResult {
        width: 100%;
        flex-direction: row;
        height: auto;
    }
} 