.Header {
  border-bottom: 1px solid #373737;
}

.Wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.Navigation {
  display: flex;
  align-items: center;
}

@media (max-width: 500px) {
  .Header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1d1d1d;
    z-index: 50;
  }

  .Wrapper {
    text-align: center;
    justify-content: space-around;
  }

  .Navigation {
    display: none;
  }
}
