.Input {
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.Input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #f08000;
}
