.Movie {
  width: 100%;
  background-color: #333;
  padding: 20px 0;
  box-sizing: border-box;
  background-size: cover;
}

/* .Movie div {
    border: 1px solid red;
} */

.Navigation {
  text-align: center;
  margin: 40px auto;
}

.Wrapper {
  max-width: 1060px;
  margin: 20px auto;
  display: grid;
  justify-content: center;
  align-content: end;
  grid-template-rows: max-content;
}

.Poster {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}
.Poster img {
  display: block;
  border: 5px solid white;
}

.Title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 100%;
  margin-left: 20px;
}

.Title span {
  color: #ccc;
}

.Details {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin-left: 20px;
  box-sizing: border-box;
}

.Informations {
  margin: 5px auto;
  color: #f08000;
}

.Informations li {
  display: inline;
}

.Genres {
  margin: 5px auto;
  color: #ccc;
}

.Informations li + li::before {
  content: '\2022';
  margin: 10px;
}

.Badge {
  display: inline-block;
  min-width: 1em;
  padding: .6em .3em; 
  border-radius: 50%;
  font-size: 24px;
  text-align: center;
  border: 2px solid #f08000;
}

.Ratings small {
  font-size: 12px;
}

.Providers {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  /* margin-left: 20px; */
}

@media (max-width: 700px) {
  .Movie {
    margin-top: 0;
    padding: 10px 0;
    background-image: none !important;
  }

  .Navigation {
    text-align: center;
    margin: 10px auto;
  }

  .Wrapper {
    display: flex;
    flex-flow: column;
    text-align: center;
    margin: 0 auto;
  }

  .Title {
    order: -1;
    margin: 0 auto 20px;
  }

  .Details {
    margin: 20px 0;
  }

  .DetailsWrapper {
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    box-sizing: border-box;
  }

  .Overview {
    padding: 20px;

    text-align: left;
  }

  .Poster img {
    margin: 0 auto;
  }

  .Providers {
    background-color: rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}
