.MovieResult {
    width: 220px;
    height: 450px;
    border: 1px solid #777;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}


@media(max-width: 500px) {
    .MovieResult {
        width: 100%;
        flex-direction: row;
        height: auto;
    }
} 